
/* Forms*/
.container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2px;
  height: 100vh;
  align-items: space-between;
}
.left-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  height: 100%;
  padding-top: 35px;
  background-color: white;
}
.left-bar h2{
  display: flex;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bolder;
}

.left-bar .tricircles{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.tricircles .circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.form-container form input{
  width: 300px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  border: none;
  background-color: rgb(237, 235, 235);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

form p{
  color: rgb(194, 191, 191);
  font-size: 12px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s ease-in-out;
}

form p:hover{
  color: black;
  cursor:pointer;
}

form button{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

form button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.suggestion{
  display: flex;
  flex-direction: row;
  color: rgb(201, 198, 198);
}

.right-bar{
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: black;
}

.heading-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.right-bar h2{
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bolder;
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.right-bar p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.right-bar button{
  width: 200px;
  height: 30px;
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  cursor: pointer;

}

.right-bar button:hover{
  background-color: white;
  color: black;
}


/*sidebar*/
.side-container{
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 20%;
  padding:5px;
  background-color: #1E1E1E;
  color: white;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.side-container .title-session{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  background-color: #cbc8c8;
  margin: 0 auto; 
  gap: 10px;
  font-size: 20px;
  border: 1px solid white;
  font-weight: bolder;
  color: black;
  transition: 0.5s ease-in-out;
}
.sub-title{
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: 300;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.side-container .title-session:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

.side-container .recents{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.side-container .Profile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.side-container .menu{
  display: flex;
  justify-content: start;
  align-items: start;
  color: white;
  font-size: 20px;
  font-size: medium;
  transition: 0.5s ease-in-out;

}
.side-container .menu:hover{
  color: rgb(130, 128, 128);
  cursor: pointer;
}

.status{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.status h3{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #646464;
  width: 50%;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.status p{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #cbc8c8;
  width: 50%;
  font-size: 20px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.projects h3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.projects p{
  transition: 0.5s ease-in-out;
}
.projects p:hover{
  color: black;
  cursor: pointer;

}

.project-list{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-list p{
  display: flex;
  justify-content: start;
  gap: 0;
  align-items: center;
  padding: 5px;
  color: #cbc8c8;
  font-size: 10px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: 0.5s ease-in-out;
}

.project-list p:hover{
  color: white;
  cursor: pointer;
}

.other-content p{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition: 0.5s ease-in-out;
}

.other-content p:hover{
  color: black;
  cursor: pointer;
}

.other-content p .count{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #646464;
  color: white;
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.other-content p .count:hover{
  background-color: white;
  cursor:pointer;
  color: black;
}