.container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2px;
  height: 100vh;
  align-items: space-between;
}
.left-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
  height: 100%;
  padding-top: 35px;
  background-color: white;
}
.left-bar h2{
  display: flex;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  font-size: 30px;
  font-weight: bolder;
}

.left-bar .tricircles{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.tricircles .circle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bolder;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.form-container form input{
  width: 300px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  border: none;
  background-color: rgb(237, 235, 235);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

form p{
  color: rgb(194, 191, 191);
  font-size: 12px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s ease-in-out;
}

form p:hover{
  color: black;
  cursor:pointer;
}

form button{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

form button:hover{
  background-color: white;
  color: black;
  border: 1px solid black;
}

.suggestion{
  display: flex;
  flex-direction: row;
  color: rgb(201, 198, 198);
}

.right-bar{
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: black;
}

.heading-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.right-bar h2{
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bolder;
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.right-bar p{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.right-bar button{
  width: 200px;
  height: 30px;
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s ease-in-out;
  cursor: pointer;

}

.right-bar button:hover{
  background-color: white;
  color: black;
}



/* Navbar Design */
.nav-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: bolder;
  padding: 10px;
  background-color: black;
  color: white;
}
.nav-header .links{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.nav-header .links p{
  color: white;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: bolder;
  font-size: 15px;
  transition: 0.5s ease-in-out;
}

.nav-header p:hover{
  color: rgb(201, 198, 198);
  cursor: pointer;

}
.session-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding:10px;
  background-color: black;
  box-shadow: 0 0 1rem 0 rgba(249, 249, 249, 0.2);
  border-radius: 10px;
}

.nav-header .links p:hover{
  color: rgb(201, 198, 198);
  cursor: pointer;
}